@font-face{ 
	font-family: 'share_regular';
	src: url('fonts/Share-Regular-webfont.eot');
	src: url('fonts/Share-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/Share-Regular-webfont.woff') format('woff'),
	     url('fonts/Share-Regular-webfont.ttf') format('truetype'),
	     url('fonts/Share-Regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'share_bold';
	src: url('fonts/Share-Bold-webfont.eot');
	src: url('fonts/Share-Bold-webfont.eot?iefix') format('eot'),
	     url('fonts/Share-Bold-webfont.woff') format('woff'),
	     url('fonts/Share-Bold-webfont.ttf') format('truetype'),
	     url('fonts/Share-Bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'fjalla_one';
	src: url('fonts/fjallaone-regular-webfont.eot');
	src: url('fonts/fjallaone-regular-webfont.eot?iefix') format('eot'),
	     url('fonts/fjallaone-regular-webfont.woff') format('woff'),
	     url('fonts/fjallaone-regular-webfont.ttf') format('truetype'),
	     url('fonts/fjallaone-regular-webfont.svg#webfont') format('svg');
}



* {
	padding: 0;
	margin: 0;
	border: 0;
}

html, body {
	position: relative;
	height: 100%;
	background: #232323;
	font: 12px/1.2em share_regular;
	color: #f8f8f8;
}

/* ui */


.box, .values {
	float: left;
	padding: 10px;
}

.button {
	cursor: pointer;
	background: #666;
	opacity: 0.33;
}

.button.active:hover {
	background: #a00606;
	color: white;
}

.button.active {
	background: #666;
	opacity: 1.0;
	
}



/* layout */

/* upper playboard */

#upper_playboard {
	position: relative;
}

#upper_playboard table,
#lower_playboard table {
	width: 375px;
	border-spacing: 0;
}

#upper_playboard td,
#lower_playboard td {
	border: none;
	padding: 0;
	position: relative;
}



/* lower playboard */

#lower_playboard {
	position: fixed;
	clear: both;
	bottom: 0;
	width: 375px;
	background: #000;
}



.centered {
	vertical-align: middle;
	text-align: center;
}


/* titel/logo */

#logo {
	width: 375px;
	height: 50px;
	background: #5b5b5b;
}




/* ticker */

#ticker {
	width: 100%;
	font-size: 18px;
	overflow: hidden;
}

#ticker p {
	background: #000;
}

#ticker p {
	padding: 10px 0;
}




/* upgrades */

#upgrades {
	position: relative;
	float: left;
	width: 375px;
}

#upgrades > div {
	position: relative;
	width: 330px;
	padding: 5px 35px 10px 10px;
	margin-bottom: 3px;
}

#upgrades p.title {
	font: 22px share_bold;
	line-height: 25px;
}

#upgrades p.text {
	font-size: 18px;
	line-height: 20px;
	padding: 5px 0 5px 0;
}

#upgrades p.info {
	font: 15px fjalla_one;
	padding-top: 10px;
	letter-spacing: 1px;
}

#upgrades p.info span {
	margin-right: 10px;
}





/* clicker buttons */

.klick {
	width: 70px;
	height: 130px;
}

#makeVodka, #spendVodka {
	font: 12px fjalla_one;
}

.perclick {
	position: absolute;
	top: 1.2em;
	right: 1.2em;
	font-size: 0.7em;
	display: none;
}

/* destille */

#Destille {
	vertical-align: bottom;
	text-align: center;
}

/* values */

.values {
	position: relative;
}

.values .value {
	font: 32px fjalla_one;
	line-height: 1em;
	float: left;
	margin-right: 3px;
}

.values .persecond {
	float: left;
	margin-top: 3px;
}

.values .text {
	clear: both;
	font-size: 20px;
	line-height: 1em;
}

#Vodka .values .text {color: #bbb;}
#Mitglieder .values .text {color: #7fd9ff;}
#Popularität .values .text {color: #ff8000;}

.blue {color: #7fd9ff;}
.orange {color: #ff8000;}
.green {color: #80ff80;}
.silver {color: #bbb;}

#Setting {
	width: 228px;
	height: 130px;
}

#Setting > div {
	position: absolute;
	top: 0px;
	left: 0px;
}











#Achievements {
	position: relative;
	height: 30px;
	overflow: hidden;
	margin-top: 3px;
}

#Achievements div {
	position: relative;
	float: left;
	color: #555;
	padding: 10px;
	font-size: 18px;
	border-right: 3px solid #555;
}


.flyAway {
	position: absolute;
	margin-top: -10px;
}



#Vodka, 
#Destille, #Vodka .persecond, 
#Setting,
#spendVodka,
#Mitglieder, #Popularität, 
#logo{
	opacity: 0.0;
}

