@font-face{ 
	font-family: 'share_regular';
	src: url('fonts/Share-Regular-webfont.eot');
	src: url('fonts/Share-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/Share-Regular-webfont.woff') format('woff'),
	     url('fonts/Share-Regular-webfont.ttf') format('truetype'),
	     url('fonts/Share-Regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'share_bold';
	src: url('fonts/Share-Bold-webfont.eot');
	src: url('fonts/Share-Bold-webfont.eot?iefix') format('eot'),
	     url('fonts/Share-Bold-webfont.woff') format('woff'),
	     url('fonts/Share-Bold-webfont.ttf') format('truetype'),
	     url('fonts/Share-Bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'fjalla_one';
	src: url('fonts/fjallaone-regular-webfont.eot');
	src: url('fonts/fjallaone-regular-webfont.eot?iefix') format('eot'),
	     url('fonts/fjallaone-regular-webfont.woff') format('woff'),
	     url('fonts/fjallaone-regular-webfont.ttf') format('truetype'),
	     url('fonts/fjallaone-regular-webfont.svg#webfont') format('svg');
}



* {
	padding: 0;
	margin: 0;
	border: 0;
}

html, body {
	position: relative;
	height: 100%;
	background: #232323;
	font: 12px/1.2em share_regular;
	color: #f8f8f8;
}

/* ui */


.box, .values {
	float: left;
	padding: 10px;
}

.button {
	cursor: pointer;
	background: #666;
	opacity: 0.25;
}

.button.active:hover {
	background: #a00606;
	color: white;
}

.button.active {
	background: #666;
	opacity: 1.0;
	
}



/* layout */

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 375px;
	height: 100vh;
	z-index: 100;
	background: transparent;
	pointer-events: none;
	overflow: hidden;
}

#startscreen,
#election,
#poster {
	pointer-events: auto;
}

#election, #poster {
	display: none;
}

#poster,
#election .bg, 
#election .fg {
	position: fixed;
	top: 0;
	left: 0;
	width: 375px;
	height: 667px;
	background: transparent;
}

#election .mg {
	position: fixed;
	top: 240px;
	left: 90px;
	width: 160px;
	height: 80px;
	overflow: hidden;
	font: 52px fjalla_one;
	line-height: 52px;
	z-index: 102;
	background: transparent;
}

#election .fg {
	z-index: 105;
}

#greyout {
	position: fixed;
	top: 0;
	left: 0;
	width: 375px;
	height: 100vh;
	z-index: 95;
	background: #232323;
	opacity: 1.0;
}


/* upper playboard */

#upper_playboard {
	position: fixed;
	top: 0;
	z-index: 10;
}

#upper_playboard table,
#lower_playboard table {
	width: 375px;
	border-spacing: 0;
}

#upper_playboard td,
#lower_playboard td {
	border: none;
	padding: 0;
	position: relative;
}



/* lower playboard */

#lower_playboard {
	position: fixed;
	clear: both;
	bottom: 0;
	width: 375px;
	background: #000;
}



.centered {
	vertical-align: middle;
	text-align: center;
}


/* titel/logo */

#logo {
	width: 375px;
	height: 50px;
	background: #5b5b5b;
}




/* ticker */

#ticker {
	width: 100%;
	font-size: 18px;
	overflow: hidden;
}

#ticker p {
	background: #000;
}

#ticker p {
	padding: 10px 0;
}




/* upgrades */

#upgrades {
	position: relative;
	float: left;
	width: 375px;
	padding-top: 88px;
	padding-bottom: 232px;
}

#upgrades .upgrade {
	display: table;
	position: relative;
	width: 375px;
	padding: 0;
	margin-bottom: 3px;
}

.up_left, .up_right {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.up_left {
	padding: 5px 5px 5px 10px;
}

.up_right {
	width: 25px;
}

.progressbar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0%;
}



#upgrades p.title {
	font: 22px share_bold;
	line-height: 25px;
}

#upgrades p.text {
	font-size: 18px;
	line-height: 20px;
	padding: 5px 0 5px 0;
}

#upgrades p.info {
	font: 15px fjalla_one;
	padding-top: 10px;
	letter-spacing: 1px;
}

#upgrades p.info span {
	margin-right: 10px;
}





/* clicker buttons */

.klick {
	width: 70px;
	height: 130px;
	text-align: center;
	vertical-align: bottom;
}

#makeVodka, #spendVodka {
	font: 12px fjalla_one;
	height: 130px;
	background: #666;
	border-left: 3px solid black;
}

.perclick {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 10px;
}

.klick img {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#spendVodka img {
	left: 25px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 130px;
	z-index: 10;
	pointer-events: all;
}



/* values */

.values {
	position: relative;
	width: 105px;
}

.values .value {
	font: 32px fjalla_one;
	line-height: 1em;
	float: left;
	margin-right: 3px;
}

.values .persecond {
	float: left;
	margin-top: 3px;
}

.values .text {
	clear: both;
	font-size: 20px;
	line-height: 1em;
}

#Vodka .values .text {color: #bbb;}
#Mitglieder .values .text {color: #7fd9ff;}
#Popularität .values .text {color: #ff8000;}

.blue {color: #7fd9ff;}
.orange {color: #ff8000;}
.green {color: #80ff80;}
.silver {color: #bbb;}

#Setting {
	position: relative;
	width: 228px;
	height: 130px;
}

#Setting > div {
	position: absolute;
	top: 0px;
	left: 0px;
}











#Achievements {
	position: relative;
	height: 30px;
	overflow: hidden;
	margin-top: 3px;
}

#Achievements div {
	position: relative;
	float: left;
	color: #555;
	padding: 10px;
	font-size: 18px;
	border-right: 3px solid #555;
}



.partyPeopleDiv {
	position: absolute;
	bottom: -124px;
}

.flyAway {
	position: absolute;
	margin-top: -10px;
}

.flyAwayBig {
	font: 50px share_bold;
	line-height: 50px;
	position: absolute;
	bottom: 250px;
	left: 375px;
	width: 575px;
	height: 80px;
	overflow-x: hidden;
	overflow-y: visible;
	z-index: 200;
}


#Vodka, 
#Vodka .persecond, 
#Setting,
#spendVodka,
#Mitglieder, #Popularität, 
#logo {
	opacity: 0.0;
}

